<a href="https://colab.research.google.com/github/SamBarcoM/Sistemas_Inteligentes/blob/master/practica_1_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Estructuras, asignación y funciones

### 1. Creando una agenda 

Utiliza los conceptos básicos de python para crear una agenda telefónica. Deberás completar las funciones crear_agenda, agregar_contacto, eliminimar_contacto y buscar_contacto que se encuentran en las siguientes celdas.

* ```crear_agenda()```, esta función devuelve una nueva agenda vacía, elige el tipo de dato que creas adecuado para este proposito.
* ```agregar_contacto(agenda, nombre, numero)```, esta función debe permitir agregar un nuevo contacto a la agenda, además si un contacto ya existe con el nombre recibido entonces debes almacenar su nuevo numero sin eliminar el anterior.
* ```buscar_contacto(agenda, nombre)```, esta función debe de regresar el o los números registados de un contacto, si el contacto no existe entonces imprimer el mensaje "Contacto no encontrado en la agenda".
* ```eliminar_contacto(agenda, nombre)```, esta función permite eliminar a un contacto de la agenda, si el contacto no existe entonces imprimer el mensaje "Contacto no encontrado en la agenda".

In [53]:
def crear_agenda():
  agenda = dict()
  return agenda

In [54]:
def agregar_contacto(agenda, nombre, numero):
  if not(nombre in agenda):
    agenda[nombre] = numero
  else:
    print("Contacto "+ nombre+" ya existe con número "+agenda[nombre])
  return agenda

In [55]:
agenda = crear_agenda()
agenda = agregar_contacto(agenda, "Javier","1234567890")

In [56]:
def buscar_contacto(agenda,nombre):
  if nombre in agenda:
    print("El número de "+nombre+" es "+agenda[nombre])
  else:
    print("Contacto " + nombre + " no encontrado en la agenda")
  return

In [57]:
buscar_contacto(agenda, "Javier")
agenda = agregar_contacto(agenda, "Javier", "0987654321")
buscar_contacto(agenda, "Javier")

El número de Javier es 1234567890
Contacto Javier ya existe con número 1234567890
El número de Javier es 1234567890

In [58]:
def eliminar_contacto(agenda,nombre):
  if nombre in agenda:
    del agenda[nombre]
  else:
    print("Contacto no encontrado en la agenda")
  return agenda

In [59]:
agenda = eliminar_contacto(agenda,"Javier")

In [60]:
def editar_contacto(agenda, nombre, numero):
  if nombre in agenda:
    agenda[nombre] = numero
  else:
    print("Contacto "+ nombre+" no existe")
  return agenda

In [61]:
def mostrar_contactos(agenda):
  for nombre in agenda:
    print("Nombre: " + nombre + " Número: " + agenda[nombre])
  return

In [62]:
agenda = agregar_contacto(agenda, "Sam","55")
agenda = agregar_contacto(agenda, "Santi","12")
agenda = agregar_contacto(agenda, "Naty","34")
mostrar_contactos(agenda)

Nombre: Sam Número: 55
Nombre: Santi Número: 12
Nombre: Naty Número: 34

# Ejercicios estadística

### Función suma

$$
    suma(a) = \sum_{i=1}^{n}a_i
$$

In [18]:
def suma(x):
    suma = 0
    for num in x:
      suma+= num
    return suma

In [19]:
assert suma([1, 2, 3, 4, 5]) == 15

In [20]:
print(suma([1, 2, 3, 4, 5]))

15

### Función promedio.

$$
	\bar{x} = \dfrac{\sum_{i=1}^{n}x_i}{n}
$$

In [22]:
def promedio(x):
    promedio = 0
    suma = 0
    for num in x:
      suma+= num
    promedio = suma/len(x)
    return promedio

In [23]:
assert promedio([1, 2, 3, 4, 5]) == 3, "Error en promedio"

In [24]:
print(promedio([1, 2, 3, 4, 5]))

3.0

### Función varianza.
$$
\sigma^2 = \frac{1}{n} \sum_{i=1}^{n}(x_i - \bar{x})^2
$$

In [25]:
def var(x):
    var = 0
    suma = 0
    prom = promedio(x)
    for num in x:
      suma += (num - prom)**2
    var = suma/len(x)
    return var

In [26]:
assert var([1,2,3,4,5]) == 2, "Error en var"

In [27]:
print(var([15,7,8,12,9]))

8.559999999999999

# Ejercicios álgebra lineal

## Vectores con listas

### Ones

Completa la función ones1D que recibe como parámetros un entero $n$ y retorna una lista de tamaño $n$ con todos sus elementos con el valor $1$.

Ejemplo:

```
>>> ones(5)
[1, 1, 1, 1, 1]
```

In [28]:
def ones_1d(n):
    ones_list = []
    for n in range(n):
      ones_list.append(1)
    return ones_list

Ejecuta la siguiente celda para comprobar la función ones1D:

In [29]:
assert len(ones_1d(10)) == 10 and  ones_1d(3).count(1) == 3 and sum(ones_1d(5)) == 5  , "error en la funcion ones_1d"
print("La funcion es correcta")

La funcion es correcta

### Ones 2D

Completa la función ones_2d que recibe como parámetros un entero $n$ y un entero $m$ y retorna una lista con $n$ sub-listas cada una de tamaño $m$ con todos sus elementos con el valor 1. En otras palabras, una matriz $n \times m$ con sus elementos iniciados con valor $1$.

Ejemplo:



```
>>> ones_2d(2, 3)
[[1, 1, 1], [1, 1, 1]]
```

In [30]:
def ones_2d(m, n):
    ones_ll = []
    ones_row = []
    for column in range(n):
      ones_row.append(1)
    for row in range(m):
      ones_ll.append(ones_row)
    return ones_ll

In [31]:
ones_2d(2,3)

[[1, 1, 1], [1, 1, 1]]

In [32]:
assert len(ones_2d(2, 3)) == 2 and len(ones_2d(2, 3)[0]) == 3 and sum([x_i for sl in ones_2d(3, 2) for x_i in sl]) == 6 , "error en la funcion ones_2d"
print("La funcion es correcta")

La funcion es correcta

### Producto punto (inner)

Completa la función ones_2d que recibe como parametros dos listas a, b de la misma longitúd y retorna el producto punto de ambos.

El producto punto está definido como:

$$a = [a_1 a_2 ... a_n] \: y \: b = [b_1 b_2 ... b_n]$$

$$
a \cdot b = a_1*b_1 + a_2*b_2 + \dots + a_n*b_n
$$

In [33]:
def inner(a, b):
  result = 0
  if len(a) == len(b):
    for n in range(len(a)):
      result += a[n]*b[n]
    return result
  else:
    print("Las listas no tienen la misma longitud n")
    return

In [34]:
assert inner([1, 2, 3], [1, 2 ,3]) == 14, "Error en inner"
print("Correcto")

Correcto

In [35]:
inner([1, 2, 3], [7, 8 ,3])

32

## Matrices con listas de listas

### Matriz identidad
$$
	I_{ij} = \begin{cases}
		1 & i=j\\
		0 & i \neq j\\
	\end{cases}
$$

In [36]:
def eye(n):
    I = []
    for row in range(n):
      temp = []
      for column in range(n):
        if row == column:
          temp.append(1)
        else:
          temp.append(0)
      I.append(temp)
    return I

In [37]:
eye(9)

[[1, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 1, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 1, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 1, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 1, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 1, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 1, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 1, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 1]]

In [38]:
assert eye(2) == [[1, 0], [0, 1]], "Error en eye"

### Matriz transpuesta

$$C = A^T \Leftrightarrow c_{ij} = a{ji}$$

Por ejemplo, si:
	$$
	A = \begin{bmatrix}
	a_{11} & a_{12}  \\
	a_{21} & a_{22}  \\
	a_{31} & a_{32}  \\
	\end{bmatrix}
	$$
	entonces
	$$
	A^T = \begin{bmatrix}
	a_{11} & a_{21} & a_{31} \\
	a_{12} & a_{22} & a_{32} \\
	\end{bmatrix}
	$$

In [40]:
def traspose(A):
    '''
    Esta funcion debe regresar la transpuesta de A
    '''
    A_t = []
    columns = len(A[0])
    rows = len(A)
    for column in range(columns):
      temp = []
      for row in range(rows):
        temp.append(A[row][column])
      A_t.append(temp)
    return A_t

In [42]:
traspose([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [43]:
traspose([[1, -1, 5], [-1, 2, 1], [5, 1, 3]])

[[1, -1, 5], [-1, 2, 1], [5, 1, 3]]

In [44]:
traspose([[9, 0, 1], [0, 11, 1], [1, 1, 4], [1, 0, 1]])

[[9, 0, 1, 1], [0, 11, 1, 0], [1, 1, 4, 1]]

In [45]:
assert traspose([[1, 2], [3, 4], [5, 6]]) == [[1, 3, 5], [2, 4, 6]], "Error en traspose"

### Valida multiplicación

```True``` si
$$A \qquad es \qquad mxn$$
y
$$B \qquad es \qquad nxp$$
```False``` en otro caso

In [46]:
def validate_mat_mul(A, B):
    val = False
    #Asumiendo que A y B son matrices válidas
    if len(A[0]) == len(B):
      val = True
    return val

In [47]:
assert validate_mat_mul([[1, 2], [3, 4]], [[5, 6], [7, 8]]) and \
validate_mat_mul([[1, 2], [3, 4], [5, 6]], [[1, 2, 3], [4, 5, 6]]) and \
not validate_mat_mul([[1, 2, 3], [4, 5, 6], [7, 8, 9]], [[1, 2], [3, 4]]), "Error en validate_mat_mul"

In [48]:
validate_mat_mul([[1, 2, 3], [4, 5, 6], [7, 8, 9]], [[1, 2], [3, 4]])

False

### Multiplicación de matrices

Si $A \in \mathbb{R}^{m \times n}$ y $B \in \mathbb{R}^{n \times p}$ entonces:
$$
C = A B \in \mathbb{R}^{m \times p}\Leftrightarrow c_{ij} = \sum_{k=1}^{n}a_{ik} b_{kj}
$$

In [49]:
def mat_mul(A, B):
    C = []
    if validate_mat_mul(A,B):
      # Iterates through A rows
      for row_A in A:
        temp = []
        # Each row's element has to multiplicate by B's column
        for row_B in range(len(B[0])):
          res = 0
          for n in range(len(row_A)):
            res += row_A[n] * B[n][row_B]
          temp.append(res)
        C.append(temp)
    return C

In [52]:
assert mat_mul([[1, 2], [3, 4], [5, 6]], [[2, 2], [2, 2]]) == [[6, 6], [14, 14], [22, 22]], "Error en mat_mul"

In [ ]:
mat_mul([[1, 2], [3, 4], [5, 6]], [[2, 2], [2, 2]])

[[6, 6], [14, 14], [22, 22]]

In [ ]:
mat_mul([[-1, 4], [2, 3]], [[9, -3], [6, 1]])

[[15, 7], [36, -3]]

In [ ]:
mat_mul([[1, 2], [3, 4]], [[5, 6, 7], [8, 9, 10]])

[[21, 24, 27], [47, 54, 61]]

In [ ]:
mat_mul([[0, 2, 5, 2], [0.4, 0, 0, 0], [0, 0.5, 0, 0], [0, 0, 0.6, 0]], [[5], [2], [2], [2]])

[[18], [2.0], [1.0], [1.2]]